
.Character {
  font-size: calc(30px + 4vmin);
  white-space: pre;
  margin-bottom: 20%;;
}

.Character-current {
  background-color: #09d3ac ;
}

.Character-out {
  color: yellow;
}
.Character-error {
  background-color: red;
}

