
.Character {
  white-space: pre;
}

.Character-current {
  background-color: #09d3ac ;
}

.Character-out {
  color: yellow;
}
.Character-error {
  background-color: red;
}

.InputBox {
  height: 30px;
  font-size: 25px;
}